<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SchoolNote</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	<link rel="stylesheet" href="./css/index.css">
	<script src="https://kit.fontawesome.com/76c8a2d7fd.js"></script>
</head>

<body>

	{% include 'navbar.html' %}

	<section class="hero is-dark">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Absence journal
				</h1>
				<h2 class="subtitle">
					Last Absences
				</h2>
			</div>
		</div>
	</section>
	<div class="container journal">



		<table id="absenceTable">
			<thead>
				<tr>
					<th style="text-align: center"><abbr title="Date">Date</abbr></th>
					<th style="text-align: center"><abbr title="Modele">Module</abbr></th>
					<th style="text-align: center"><abbr title="UE">N° UE</abbr></th>
					<th style="text-align: center"><abbr title="Type">Type</abbr></th>
					<th style="text-align: center"><abbr title="Delayed">Delayed</abbr></th>
					<th style="text-align: center"><abbr title="TeacherName">Teacher name</abbr></th>
					<th style="text-align: center"><abbr title="StudentName">Student name</abbr></th>
					<th style="text-align: center"><abbr title="Validated">Validated</abbr></th>
					<th style="text-align: center"><abbr title="ID"></abbr></th>
				</tr>
			</thead>
		</table>
	</div>
{% include 'footer.html' %}