    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="./js/main.js"></script>
    <footer class="footer" style="padding-left: 100px; padding-right:100px">
            <div class="content has-text-centered">
              <p>
                <strong style="color:#FFF">SchoolNote</strong> by BRUNE Axel, DELORME Ismael, GERTNER Estelle, GOUPIL Thomas, HARRUIS Théault, LEPRESLE Alexis, MONTEIL Julien, NIKOU Themistoklis, THEIN Luis and THEN Manuel.
              </p>
              <p>
                    <strong style="color:#FFF">Agile Project 2019 - Thanks to ERIC PORCQ and DELHOUM Sylvian -  
              </p>
            </div>
    </footer>

</body>
</html>