<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="https://dev-agile2.users.info.unicaen.fr/">
				<h1 class="title">SchoolNote</h1>
			</a>
			<a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
			</a>
		</div>

		<div class="navbar-menu" id="navMenu">
			<div class="navbar-start" id="addAbsenceNavbarButton">
				{% if session.role > 1 %}
					<a class="navbar-item" href="/addAbsence">
						Add an absence
					</a>
				{% endif %}
				{% if session.role == 3 %}
					<a class="navbar-item" href="/includes/createpdf.php">
						Export recap to PDF
					</a>
				{% endif %}
			</div>


			
			<div class="navbar-end">
				<div class="navbar-item">
					<div class="buttons">
						<div class="tags has-addons" style="margin: 0; padding-right: 40px;">
								<span class="tag is-success">You're connected as {{ (session.role == 1) ? "Student" : (session.role == 2) ? "Teacher" : "Head of Studies" }} : {{ session.mail }}</span>
						</div>
						<a class="button is-light" href="/logout">
							Log out
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<script>
		document.addEventListener('DOMContentLoaded', () => {

		// Get all "navbar-burger" elements
		const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		// Check if there are any navbar burgers
		if ($navbarBurgers.length > 0) {

		// Add a click event on each of them
		$navbarBurgers.forEach( el => {
			el.addEventListener('click', () => {

			// Get the target from the "data-target" attribute
			const target = el.dataset.target;
			const $target = document.getElementById(target);

			// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
			el.classList.toggle('is-active');
			$target.classList.toggle('is-active');

			});
		});
		}

		});
	</script>